.clickable {
  cursor: pointer;
}

#top {
  width: calc(100% + 24px);
}

#top .bp1-headerhero {
  position: absolute;
  right: 0;
}

.bp1-headerhero-layout-container::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 20px -15px black;
  width: 100%;
  height: 85px;
}

#bottom {
  width: 100%;
}
